/DESKTOP/finalseminario/build/
/WEB/Webfinalseminario/nbproject/private/
/WEB/Webfinalseminario/build/
/DESKTOP/finalseminario/dist/
/REPORTES/reporteFinalSeminario/nbproject/private/
/REPORTES/reporteFinalSeminario/build/
/REPORTES/reporteFinalSeminario/dist/